/* Logo img */

.logo-img {
  width: 60px;
  margin: 15px;
}

/* NavBar */

.navbar {
  margin: 30px 50px;
  border-radius: 30px;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.navbar-brand {
  font-size: 20pt !important;
}

.navbar-collapse {
  display: flex;
  justify-content: center;
  margin-left: -180px
}

.nav-link {
  font-size: 14pt !important;
}

/* main section */

.main-card {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  min-height: 490px;
  margin: 0 auto;
  border-radius: 30px;
  background-color: #f8f9fa;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.search-form-container {
  padding: 15px;
}

.search-form {
  display: flex;
}

.contact-list-container {
  padding: 0 15px;
}

.footer-main-card-container {
  display: flex;
  justify-content: flex-end;
  padding: 15px;
  margin-top: auto;
}

.add-button {
  border: none;
  background-color: transparent;
}

.add-button-icon {
  font-size: 32pt;
  color: #5c636a;
}

.add-button-icon-actions {
  font-size: 12pt;
  color: #5c636a;
}

/* Contact Modal */

.contact-form {
  display: flex;
  justify-content: space-evenly;
}

.contact-photo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .main-card {
    max-width: 90%;
  }

  .contact-form {
    flex-direction: column;
  }

  .contact-photo-container {
    margin-bottom: 15px;
  }

  .contact-photo-container img {
    width: 100px;
  }
}